i{
    padding: 2%;
    display: inline;
}

tbody{
    text-align: left;
}

.forecast-spinner{
    padding-top: 5%;
}

.forecast-card{
    margin-top: 5%;
}

.main-wrapper{
    margin-top: 5%;
    margin-bottom: 5%;
    position:relative;
}

.error-message{
    margin-top: 5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
    color: #09d3ac;
}

.btn-forecast{
  margin-left: 5%;
  margin-right: 5%;
}